<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
<script type="text/javascript" src="{%static 'solverGui/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'solverGui/grid.js' %}"></script>
<link rel="stylesheet" href="{% static 'solverGui/grid.css' %}" />

<div class="holder">
    <div class="grid">
        <table class="grid" id="grid">
            {% for row in grid %}
                <tr>{%for entry in row%}<td id="grid{{forloop.counter0}}_{{forloop.parentloop.counter0}}" data-index="{{forloop.counter0}}_{{forloop.parentloop.counter0}}">{{entry}}</td>{%endfor%}</tr>
            {% endfor %}
        </table>
    </div>

    <div class="wordList">
        <table id="wordList">
            <tr><th>Word</th><th>direction</th><th>mark/normal/ignore</th></tr>
            {%for wordEntry in wordList%}
                <tr data-index="{{wordEntry.index}}">  
                    <td>{{wordEntry.word}}</td>
                    <td>{{wordEntry.direction}}</td>
                    <td><input type="radio" data-index="{{wordEntry.index}}" value="highlight" />
                        <input type="radio" data-index="{{wordEntry.index}}" value="normal" checked="checked" />
                        <input type="radio" data-index="{{wordEntry.index}}" value="ignore" /></td>
                </tr>
            {%endfor%}
        </table>
    </div>
</div>

<script type="text/javascript">
    var wordLocations = {
        {%for wordEntry in wordList%} {{wordEntry.index}}: [{%for loc in wordEntry.locations%}"{{loc}}", {%endfor%}],
        {%endfor%}
    }
    var gridHl = {
        {%for row in grid%}{%for entry in row%}"{{forloop.counter0}}_{{forloop.parentloop.counter0}}":[[], []],
        {%endfor%}{%endfor%}
    }
</script>
